In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('iris.csv')

In [3]:
data.shape

(150, 5)

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
X = data[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]

In [8]:
Y = data['species']

In [9]:
trainX, testX, trainY, testY = train_test_split(X, Y, test_size=0.2, random_state=42)

In [10]:
train = trainX

In [12]:
train['species'] = trainY

In [13]:
train.head()

    sepal_length  sepal_width  petal_length  petal_width     species
22           4.6          3.6           1.0          0.2      setosa
15           5.7          4.4           1.5          0.4      setosa
65           6.7          3.1           4.4          1.4  versicolor
11           4.8          3.4           1.6          0.2      setosa
42           4.4          3.2           1.3          0.2      setosa

In [14]:
train['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [15]:
test = testX

In [16]:
test['species'] = testY

In [17]:
train.to_csv('train.csv', index=False)

In [18]:
test.to_csv('test.csv', index=False)